{% block skills_widget %}
    {% spaceless %}

        <span class="btn-group">
          <button class="btn btn-info btn-sm btn-outline sonata-ba-action">Add Skill...</button>
        </span>

        <div>
            {% if expanded %}
                <ul {{ block('widget_container_attributes') }}>
                    {% for child in form %}
                        <li>
                            {{ form_widget(child) }}
                            {{ form_label(child) }}
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                {# just let the choice widget render the select tag #}
                {{ block('choice_widget') }}
            {% endif %}

            <input type="number" name="attack" value="{{ app.request.get('attack') }}" placeholder="Attack Level" required="required" class="form-control">
        </div>

    {% endspaceless %}
{% endblock %}